* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 4000px;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(60, 40px);
  grid-template-rows: repeat(60, 40px);
  gap: 1px;
  transform: rotateX(50deg) rotateY(-5deg) rotateZ(35deg);
  transform-origin: center;
  scale: 1.25;
}

.theme-button {
  position: absolute;
  background-color: rgb(55, 67, 99);
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.5rem;
  border: 1px solid black;
  z-index: 10;
}

.tile {
  transition: background-color 1s ease-in-out;
}

.tile.no-transition {
  transition: none;
}

.tile:hover {
  background-color: #66aa8f;
}
